body{
  font-family: Arial;
}
.todo-input2,.todo-input-date{
  padding: 6px;
 font-size: 15px;
 font-weight: bold;
}
.add-button,.delete-button{
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  font-size: 15px;
}
.add-button{
  background-color: green;
}
.delete-button{
  background-color: red;
}
.todo-container2,.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin:10px;
    gap: 10px;
   align-items: center;
}